body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #c07300;
    color: white;
    padding: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    /* Garante que padding e border não afetem o tamanho total */

}

a:hover {
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* color: #ffebcc; */
    transform: scale(1.05);
    /* Escala visualmente sem afetar o layout */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 50px;
}

.curso {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    text-align: center;
}

.curso img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #c07300;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #c57600;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #c07300;
    color: white;
    position: relative;
    bottom: 0;
}